<form method="POST" action="/new">
    <input type = "text" name = "message" placeholder = "Enter message">
    <input type = "text" name = "username" placeholder = "Enter your name">
    <button type = "submit"> Submit </button>
</form>
