<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <% rows.forEach((row) => { %>
        <%- include('messages/messageDetails', {row: row}) %>
        <%- include('buttons/deleteButton', {row: row}) %>
    <% }); %>
    <p></p>
    <form method = "GET" action = "/new">
        <button type = "submit">New Message</button>
    </form>
  </body>
</html>


